
    /* CSS code for the registration form */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }

    .gradient-background {
      height: 100vh;
      width: 100%;
      background-image: url("./images/nature.jpg");
      background-size: cover;
    }

    .container {
      width: 80%;;
      max-width: 600px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      /* Center the form */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    h2 {
      text-align: center;
    }

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="date"] {
      width: 80%; /* adjust the with as desided*/
      max-width: 300px; /*adjust the maximum width as desired*/
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .gender-group {
      margin-bottom: 15px;
    }

    select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      /* Reduce the length of the dropdown menu */
      max-width: 200px;
    }

    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #45a049;
    }

    .error-message {
      color: red;
      margin-bottom: 10px;
    }

    /* Additional CSS code */
    .custom-button {
      display: inline-block;
      outline: 0;
      border: 0;
      cursor: pointer;
      text-decoration: none;
      position: relative;
      color: #000;
      background: #fff;
      line-height: 30px;
      border-radius: 40px;
      padding: 20px;
      font-size: 30px;
      font-weight: 600;
      box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
      transition: all 0.2s;
    }

    .custom-button:hover {
      box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
      transform: scale(1.01);
    }
  